<div class="mt-12 flex flex-wrap justify-center">
    {{boxes}}
        <div class="w-full lg:w-9/12 px-10 py-6 text-center border shadow-lg mb-16 rounded-xl {{ individual_box_colour ?? box_colour }} flex flex-wrap {{ image_location }} items-center" id="fullWidthBox">
            <div class="mr-auto ml-auto w-full pt-6 md:w-3/12 md:pt-0">
            <img src="{{ glide:box_image }}" alt="{{ box_image:alt }}" class="w-full max-w-full rounded-lg shadow-lg" >

            </div>
            <div class="w-full md:w-6/12 px-4 mr-auto ml-auto {{ text_alignment }}">
                <h6 class="{{ individual_title_colour ?? title_colour }}" id="fullWidthBoxTitle">
                    {{ box_title }}
                </h6>
                <div class="{{ individual_content_colour ?? content_colour}}" id="fullWidthBoxContent">
                    {{box_content | widont}}
                </div>
            </div>
        </div>
    {{/boxes}}
</div>
