<div class="h-[75dvh] flex flex-col items-center justify-center">

    {{ site_admin:error500 }}
    <img src="{{ glide:url preset='error-image' }}" alt="{{ alt }}" width="500" height="500" loading="eager">
    {{ /site_admin:error500 }}
    <div class="flex flex-col " >
        <h1 class="text-2xl text-center">Oops, 500 Server Error.</h1>
        <p class="text-lg text-center">We couldn't the page you were looking for.</p>
        <p class="text-lg text-center">Please use the navigation bar to get back on track.</p>
</div>
</div>
